# Телеграм
BOT_TOKEN=your_telegram_bot_token

# Парсер
REQUEST_TIMEOUT=10
USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/124.0.0.0 Safari/537.36
SEND_COVER=true
YANDEX_MUSIC_TOKEN=
USE_YANDEX_TOKEN_FALLBACK=true
SELENIUM_HEADLESS=true
SELENIUM_PAGELOAD_TIMEOUT=30
SELENIUM_WAIT_TIMEOUT=6
SELENIUM_EXTRA_WAIT_MS=400

# Логирование
LOG_LEVEL=INFO
